---
import VectorPointer from "../../../public/HomePage/pointNumbers.svg";
import type { ImageMetadata } from "astro";

interface Props {
  number1: string;
  label1: string;
  number2: string;
  label2_1: string;
  label2_2: string;
  number3: string;
  label3_1: string;
  label3_2: string;
  number4: string;
  label4_1: string;
  label4_2: string;
}

const {
  number1,
  label1,
  number2,
  label2_1,
  label2_2,
  number3,
  label3_1,
  label3_2,
  number4,
  label4_1,
  label4_2,
} = Astro.props;
---

<section class="w-full bg-transparent absolute -bottom-8 hidden md:block">
  <div
    class="grid items-center justify-items-center text-white lg:w-[75%] w-[90%] mx-auto"
    style="grid-template-columns: 1fr auto 1fr auto 1fr;"
  >
    <div class="font-boldn flex flex-col items-center justify-center">
      <span class="font-playfairDisplay text-5xl md:text-6xl lg:text-7xl pb-3"
        >{number1}</span
      ><span class="font-montserrat text-center">{label1}</span><span
        class="font-montserrat text-center invisible">&nbsp;</span
      >
    </div>
    <VectorPointer />
    <div class="font-boldn flex flex-col items-center justify-center">
      <span class="font-playfairDisplay text-5xl md:text-6xl lg:text-7xl pb-3"
        >{number2}</span
      ><span class="font-montserrat text-center">{label2_1}</span>
      <span class="font-montserrat text-center">{label2_2}</span>
    </div>
    <VectorPointer />
    <div class="font-boldn flex flex-col items-center justify-center">
      <span class="font-playfairDisplay text-5xl md:text-6xl lg:text-7xl pb-3"
        >{number3}</span
      ><span class="font-montserrat text-center">{label3_1}</span>
      <span class="font-montserrat text-center">{label3_2}</span>
    </div>
  </div>
</section>

<section class="w-full md:hidden block relative z-10 bottom-10">
  <div
    class="flex flex-col items-center justify-center w-[90%] mx-auto text-white gap-y-3 pt-4"
  >
    <div class="font-boldn flex flex-col items-center justify-center">
      <span class="font-playfairDisplay text-5xl md:text-6xl lg:text-7xl pb-1"
        >{number1}</span
      ><span class="font-montserrat text-center">{label1}</span>
    </div>
    <VectorPointer />
    <div class="font-boldn flex flex-col items-center justify-center">
      <span class="font-playfairDisplay text-5xl md:text-6xl lg:text-7xl pb-1"
        >{number2}</span
      ><span class="font-montserrat text-center">{label2_1}</span>
      <span class="font-montserrat text-center">{label2_2}</span>
    </div>
    <VectorPointer />
    <div class="font-boldn flex flex-col items-center justify-center">
      <span class="font-playfairDisplay text-5xl md:text-6xl lg:text-7xl pb-1"
        >{number3}</span
      ><span class="font-montserrat text-center">{label3_1}</span>
      <span class="font-montserrat text-center">{label3_2}</span>
    </div>
  </div>
</section>
