---
import { Image } from "astro:assets";
import logoImg from "../../../public/HomePage/logoImperador.svg";
import whatsappIcon from "../../../public/HomePage/whatsapp.svg";
import LocaleSwitcher from "./LocaleSwitcher.astro";
import TipologiaSwitcher from "./TipologiaSwitcher.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import ContactFormButton from "./ContactFormButton";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header
  id="site-header"
  class="fixed top-0 left-0 right-0 z-20 hidden sm:block"
>
  <div
    id="header-large"
    class="grid grid-cols-3 justify-items-center w-full pt-1 relative z-10"
  >
    <div class="flex items-start justify-center xl:gap-x-8 pt-8">
      <div class="flex items-center justify-center gap-x-2">
        <Image
          src={whatsappIcon}
          alt={t("header.whatsapp_alt")}
          width={24}
          height={24}
          loading="lazy"
          class="xl:block hidden"
        />
        <p
          class="text-white text-base lg:text-lg font-poppins font-light hidden xl:block"
        >
          + 351 965 611 642
        </p>
      </div>
      <ContactFormButton
        classNameButtonStyle="bg-[#7192A2] hover:bg-[#7192A2]/70 tracking-wide w-[130px] h-[28px] lg:w-[160px] lg:h-[32px] text-base font-montserrat text-white rounded-xl font-medium p-0"
        buttonText={t("header.schedule_visit")}
        lang={lang}
        client:load
      />
    </div>
    <div>
      <Image
        src={logoImg}
        alt={t("header.logo_alt")}
        class="w-[200px] h-[115px] lg:w-[280px] lg:h-[137px] transition-all duration-300"
        width={280}
        height={187}
        loading="lazy"
      />
    </div>
    <div
      class="flex items-start justify-end xl:justify-center pt-8 justify-self-end xl:justify-self-center w-full pr-5"
    >
      <div
        class="flex items-center justify-end xl:justify-center 2xl:gap-x-8 gap-x-6"
      >
        <div class="hidden xl:block">
          <TipologiaSwitcher />
        </div>
        <div
          class="hidden xl:flex items-center justify-start gap-x-2 text-white font-montserrat font-medium cursor-pointer relative group pb-1"
        >
          GALERIA
          <span
            class="absolute bottom-0 left-0 w-0 h-0.5 bg-linear-to-r from-yellow-400 via-amber-500 to-yellow-600 transition-all duration-300 ease-out group-hover:w-full"
          ></span>
        </div>
        <div
          class="hidden xl:flex items-center justify-start gap-x-2 text-white font-montserrat font-medium cursor-pointer relative group pb-1"
        >
          LOCALIZAÇÃO
          <span
            class="absolute bottom-0 left-0 w-0 h-0.5 bg-linear-to-r from-yellow-400 via-amber-500 to-yellow-600 transition-all duration-300 ease-out group-hover:w-full"
          ></span>
        </div>
        <LocaleSwitcher />
      </div>
    </div>
  </div>

  <div
    id="header-small"
    class="grid grid-cols-2 items-center w-full px-10 absolute inset-0 opacity-0 pointer-events-none pb-4"
  >
    <div class="flex items-center justify-start gap-x-2">
      <Image
        src={logoImg}
        alt={t("header.logo_alt")}
        width={200}
        height={82}
        loading="lazy"
      />
    </div>

    <div class="flex items-center justify-end">
      <div
        class="flex items-center justify-end 2xl:gap-x-8 xl:gap-x-6 gap-x-24"
      >
        <ContactFormButton
          classNameButtonStyle="bg-[#7192A2] hover:bg-[#7192A2]/70 tracking-wide w-[130px] h-[28px] lg:w-[160px] lg:h-[32px] text-base font-montserrat text-white rounded-xl font-medium p-0"
          buttonText={t("header.schedule_visit")}
          lang={lang}
          client:load
        />
        <div
          class="flex items-center justify-end xl:justify-center 2xl:gap-x-8 gap-x-6"
        >
          <div class="hidden xl:block">
            <TipologiaSwitcher />
          </div>
          <div
            class="hidden xl:flex items-center justify-start gap-x-2 text-white font-montserrat font-medium cursor-pointer relative group pb-1"
          >
            GALERIA
            <span
              class="absolute bottom-0 left-0 w-0 h-0.5 bg-linear-to-r from-yellow-400 via-amber-500 to-yellow-600 transition-all duration-300 ease-out group-hover:w-full"
            ></span>
          </div>
          <div
            class="hidden xl:flex items-center justify-start gap-x-2 text-white font-montserrat font-medium cursor-pointer relative group pb-1"
          >
            LOCALIZAÇÃO
            <span
              class="absolute bottom-0 left-0 w-0 h-0.5 bg-linear-to-r from-yellow-400 via-amber-500 to-yellow-600 transition-all duration-300 ease-out group-hover:w-full"
            ></span>
          </div>
          <LocaleSwitcher />
        </div>
      </div>
    </div>
  </div>
</header>
<style>
  #header-large,
  #header-small {
    transition: opacity 0.3s ease;
  }
</style>
